.flex {
    display: flex;
    gap: 30px;
}

.jobs {
    display: grid;
    justify-content: end;
    grid-template-columns: repeat(1, 2fr);
    padding: 20px 30px;

    button {
        justify-self: end;
    }

    >div {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        >div {
            display: flex;
        }
    }

    @media (max-width: 500px) {
        button {
            position: unset;
        }
    }
}

.applications {
    padding: 20px 30px;
}