input,
textarea {
    background-color: $color-lightblue ;
    border: solid 2px $color-blue;
    max-width: 510px;
    width: 100%;
    height: clamp(33px, 2.5vw, 66px);
    padding: 0 35px;
    border-radius: 4px;
    color: $color-gray;
    border-radius: 33px;
    font-family: $font-stack;
}

.formDiv {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;
    min-height: 300px;
    gap: 30px;
    width: 100%;
    padding: 0 15px;


    >p {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    button {
        align-self: flex-end;

    }
}
