$color-black: black;
$color-gray: #10111A80;
$color-white: white;
$color-lightblue: #F9F9FF;
$color-blue: #8490FF;
$color-transparentblue: #8490ff8a;
$font-stack: "Montserrat", sans-serif;
$font-weight: 800;
$font-light: 400;

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    background-color: $color-lightblue;
    font-weight: $font-light;
    color: $color-black;

    #root {
        min-height: 100vh;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1.25rem 0 1.25rem;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    height: auto;

    h2 {
        cursor: pointer;
    }

    p {
        cursor: pointer;
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    @media (max-width: 600px) {
        >div {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-black;
    color: $color-white;
    height: 103px;
    width: 100%;
    margin-top: auto;
    bottom: 0;

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media (max-width: 600px) {
        div {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
        }
    }

}